@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.container{
    margin-top: 4rem;
    font-family: 'Roboto Slab', serif;
    background-color: azure;
    
}
.input-bg{
    background-color: #f3f3f3;
    color: #dbd5d5;
    font-size: 0.9rem;
    height: 2.9rem;

}
h1{
    margin-top: 15rem;
    font-size: 5rem;
}
.text-dark{
 font-size: 5rem;
}
body{
    background-color: rgb(107, 233, 233);
}